<footer class="site-footer">

  <div class="container">
    <div class="copyright">
      <div class="eight columns">
        
        &copy; Texas Waterski <script>document.write(new Date().getFullYear())</script>. Texas Waterski is sponsored by <a href="https://www.utrecsports.org/" target="_blank">UT RecSports.</a>
        <br>
        Built and maintained by Luke Wright. 
      </div>
      <div class="four columns social-links">
        <div class="social-icon"><a href="https://www.facebook.com/TexasWaterSki/" target="_blank"><i class="fa fa-facebook"></i></a></div>
        <div class="social-icon"><a href="mailto:utexaswaterski@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></div>
      </div>
    </div> 


  </div>

</footer>
