.about {
  .events {
    text-align: center;
    p {text-align: left;}
    
    .event-image {
      display: inline-block;
      max-width: 300px;
      margin: 10px auto;
    }
  }
  .map-embed {
    overflow-x: scroll;
    text-align: center;
  }
  
}
