.home {
  .page-head {
    background-position: bottom;
  }
  .about-cta {
    text-align: center;
  }
  .sponsors {
    margin-top: 75px;
    margin-bottom: 75px;
    ul {
      list-style: none;
    }
    li {
      display: inline-block;
      width: 25%;
      text-align: center;
      .sponsor-image {
        margin: 0 auto;
        max-width: 150px;
        display: block;
      }
    }
  }
}
