---
layout: default
---
<div class="home">
  <div class="page-head" style="background-image:url({{site.url}}/assets/images/home-head.jpg)">
    <div class="head-content">
      <h1>Texas Water Ski</h1>
      <h3>The University of Texas at Austin Collegiate Water Ski Team</h3>
    </div>
  </div>
  <div class="container">
    <div class="page-section">
      <h2>About Us</h2>
      <p>
				We are the official waterski team of the University of Texas at Austin! We are a division 2, competitive club team, and we represent The University of Texas at all sanctioned waterski tournaments in the South Central Conference of the American Ski Association. We are a RecSports sponsored organization. Visit our About page to learn more about our team and collegiate waterskiing!
      </p>
      <div class="about-cta">
        <a href="/about" class="button button-primary">Learn More</a>
      </div>
    </div>
  </div>
  <div class="full-image" style="background-image: url({{site.url}}/assets/images/slalom-cut.jpg)">
  </div>
  <div class="container">
    <div class="page-section">
			<div class="google-cal">
				<iframe src="https://calendar.google.com/calendar/embed?src=utexaswaterski%40gmail.com&ctz=America/Chicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
			</div>

    </div>
  </div>
</div>
