---
layout: default
---
<div class="home">
  <div class="page-head" style="background-image:url({{site.url}}/assets/images/frameswitch.jpg)">
    <div class="head-content">
      <h1>Texas Water Ski</h1>
      <h3>The University of Texas at Austin Collegiate Water Ski Team</h3>
    </div>
  </div>
  <div class="container">
    <div class="page-section">
      <h2>About Us</h2>
      <p>
        We represent The University at sanctioned tournaments of the South Central Conference of the American Ski Association. We are a RecSports sponsored organization and we have a private boat and lake to ski at year round. Formed in 197??? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo risus sit amet nisl tincidunt, in luctus nibh lacinia. Donec in gravida erat, rutrum ultricies erat. Ut tincidunt ex in diam mollis mollis. Maecenas consectetur, ligula ac sollicitudin bibendum, enim felis malesuada quam, tincidunt pharetra justo neque ac est. 
      </p>
      <div class="about-cta">
        <a href="/about" class="button button-primary">Learn More</a>
      </div>
    </div>
  </div>
  <div class="full-image" style="background-image: url({{site.url}}/assets/images/slalom-cut.jpg)">
  </div>
  <div class="container">
    <div class="page-section">
      <h2>Join the team</h2>
      <p>
      No prior experience is required to join the team, just a desire to learn. We meet at 9PM every Monday in UTC 1.104, and are open to new members throughout the semster. If you have any questions don't hesitate to email us at <a href="mailto:utexaswaterski@gmail.com" target="_blank">utexaswaterski@gmail.com</a>. HIGH SCHOOL RECRUIT INFO??
      </p>
    </div>
    <div class="google-cal">
      <iframe src="https://calendar.google.com/calendar/embed?src=utexaswaterski%40gmail.com&ctz=America/Chicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</div>
